{% extends "base.html" %}

{% block container-content %}

<div class="cg-header">
	<div class="container">
		<h1><img src="/img/logo_trans.png" id="fplogo"></img> CitizenGrid</h1>
		<h2>Welcome to the Citizen Cyberlab CitizenGrid Platform</h2>
		<h2>Register, deploy and host your volunteer computing applications</h2>
	</div>
</div>

<div class="container" style="padding-top: 25px;">
  <h4>CitizenGrid is a platform for application builders to host and promote their volunteer computing applications and 
  for users to discover these applications.</h4>
  {% if user.is_authenticated %}
  <a class="btn btn-primary" href="/accounts/logout/?next=/"	>Sign Out</a>
  {% else %}
  <h4>To set up a new application or donate your spare computing power, sign up to CitizenGrid now!</h4>
  <a class="btn btn-success" href="/accounts/register/">Sign Up</a>
  {% endif %}  
</div>

{% endblock %}


