{% extends "base.html" %}

{% block container-content %}
<style>
.contactblock{
 width:1100px;
 height:300px;
 background-color:lightGrey;
 -moz-border-radius:6px;
 -webkit-border-radius:6px;
}
</style>
<div class="cg-header" style="padding: 5px 5px;">
	<div class="container">
		<h3>
			<img id="logo" src="/static/img/logo_trans.png"> <span>CitizenGrid</span> </img>
		</h3>
	</div>
</div>

<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">

<title>
  
    User Documentation &middot; Bootstrap
  
</title>


 </head>

  <body>
    <a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>

    <div class="bs-docs-header" id="content">
      <div class="container">
        <h3>User Documentation</h3>
        <p>An overview of CitizenGrid, how to get involved in Citizen Science and submit your own applications.</p>
      </div>
    </div>

    <div class="container bs-docs-container">

      <div class="row">
        <div class="col-md-9" role="main">
          <div class="bs-docs-section">
  <h4 id="download" class="page-header">Introduction</h4>

  <p> Our aim is to get everyone involved in Citizen CyberScience by making Citizengrid as intuitive as possible. 
  In this document you should be able to find the answers to any questions you have about using CitizenGrid. We want it to be a 
  place where Scientists can host their applications easily and however they want to. We also want users to be able to find the right 
  type of project: one that will be interesting to them and will use the unique set of skills and resources that user has to offer. 
  If you can't find the answer you're looking for feel free to Contact Us.
  </p>

  <h4 id="download-cdn">Purpose</h4>
<p>
      CitizenGrid provides three core benefits:
    </p>
    <p>
    <ol>
      <li>Developers of distributed computing software can offer software directly to developers of science projects. </li>
      <li>Citizen Science projects will no longer have to develop their own distributed computing software solutions. </li>
      <li>Citizen scientists will be able to design and deploy science projects requiring analytical &quot;heavy-lifting&quot;.</li>
    </ol> 
    </p>
    <p>
      Application Providers can use CitizenGrid to:
      <ul>
        <li>Host disk images for their application servers and clients</li>
        <li>Run application servers on cloud resources</li>
      </ul>
    </p>
    <p> 
      CitizenGrid provides a user friendly platform for scientists to host a range of applications including exemplars from Citizen Cyberlab.
      <ul>
        <li>Volunteer Computing</li>
        <li>Crowdsourced data collection</li>
        <li>Scientific/Educational Games</li>
      </ul>
    </p>
    <p>
      CitizenGrid will allow application providers to register their applications and run application servers through the web-based interface under their own accounts on Amazon EC2 and OpenStack clouds. Support for additional cloud platforms is planned
    </p>
    <p> 
      CitizenGrid is a simple interface that is intended to be straightforward for Citizen Cyberscientists to navigate and keep track of their involvement in a range of collaborative projects.
    </p>
    <p>
      Users have access to a searchable project gallery which displays all of the applications available on CitizenGrid. The site will also help users discover games or applications that are likely to be of interest by filtering results based on a range of user-specific properties.
    </p>
</div>

<div>
  <h4>Sign Up</h4>

  <p>All users of CitizenGrid must choose a role.</p>

  <div>
    <h4>Dashboard</h4>
    <p>Sign Up procedure explained with screen shots.</p>
  </div>
</div>

<div>
  <h4>Roles</h4>

  <p>Scientists can use CitizenGrid to get their applications to the right users.</p>
</div>
</div>
</div>
</div>

  </body>
</html>


{% endblock %}


