{% extends "base.html" %}

{% block container-content %}
<style>
.contactblock{
 width:1100px;
 height:300px;
 background-color:lightGrey;
 -moz-border-radius:6px;
 -webkit-border-radius:6px;
}
</style>
<div class="cg-header" style="padding: 5px 5px;">
	<div class="container">
		<h3>
			<img id="logo" src="/img/logo_trans.png">  <span>CitizenGrid</span>
		</h3>
	</div>
</div>

<div class="container" style="padding-top: 25px;">
  <h2>About us</h2>
	<div class="content">
		<p>
		<img src="/img/logo_trans.png" alt="fplogo" width="width" height="	300" align="right" />
			CitizenGrid is the mission control centre for all the applications in Citizen Cyberlab. When we started this project, we looked around the web and found that there were a lot of opportunities for people to get involved in Citizen Science projects but unless you knew how to launch a virtual machine or what BOINC was, it was a rather confusing place! That’s why we wanted to make CitizenGrid. We wanted a unified system that would take the clunky installs and endless registrations out of the process, so that scientists and users could get straight to the science.
		</p>
		<p> 
			The team developing CitizenGrid are from Imperial College and we make up a part of the London e-Science Centre in the Department of Computing at IC. We work on a range of projects that tackle problems in Medicine, Bioinformatics, High Energy Physics and cloud computing.
		</p>
		<p> 
			CitizenGrid is part of a big project across lots of universities and organisations in the EU called Citizen Cyberlab. The other groups have developed applications and tools to help Scientists create their own applications. They have also researched how people learn and worked on promoting CitizenScience though outreach activities and hack days.
		</p>
		<p> 
			Our aim is to get everyone involved in Citizen CyberScience by making CitizenGrid as intuitive as possible. We want it to be a place where Scientists can host their applications easily and however they want to. We also want users to be able to find the right type of project: one that will be interesting to them and will use the unique set of skills and resources that user has to offer.
		</p>
	</div>
</div>

{% endblock %}


