{% load url from future %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Citizen Cyberlab{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}img/favicon.ico">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="/css/citizengrid.css">
    <link rel="stylesheet" href="/css/icon.css">
    <meta name="keywords" content="cyberlab, citizengrid">

    <!-- Add Google Fonts collection -->
    <link href='//fonts.googleapis.com/css?family=Exo:400,800|Share:400,700italic|Oxygen|Montserrat+Alternates:400,700|Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery-1.11.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/bootstrapValidator.min.js"></script>

    {% block head %}{% endblock %}

    <script type="text/javascript">
	$(function(){

	$('#x').click(function(){
	  $('#basicModalxxx').modal('show');
	  return false;
	});


	$('#ap1').click(function(){
	  	$.ajax({
			      type: 'POST',
			      url: '/cg/',
			      cache:false
			    });
	  return false;
	})

	});

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

	function showRoleModal()
	{
		 $( "#dialog" ).dialog({
			dialogClass: 'modalbground',
				autoOpen: true,
		        height: 150,
				width: 450,
				modal:true
		     }).prev(".ui-dialog-titlebar").css("background","#7B9FE4");
		}
	function showModal(){

	}
    </script>
      </head>
  <body>

 <!-- Google Tag Manager -->
<!--
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5B5GQW"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5B5GQW');</script>
-->
<!-- End Google Tag Manager -->


<!-- End Google Tag Manager -->

 <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NBC787"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NBC787');</script>
<!-- End Google Tag Manager -->
	<div class="wrapper">
		<div class="navbar navbar-inverse navbar-fixed-top navbar-cg navbar-inverse-cg hidden-print">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">CitizenGrid</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						{% if user.is_authenticated %}
						<li class="active"><a href="/cg">Dashboard</a></li> {%endif%}
						<li><a href="/about">About us</a></li>
						<li><a href="http://citizencyberlab.eu" target="_blank">Cyberlab</a></li>
						<li><a href="/docs">Documentation</a></li>
						<li><a href="/contact">Contact us</a></li>
					</ul>
					<!-- Sign in/user info dropdown -->
					<ul class="nav navbar-nav pull-right">
						{% if user.is_authenticated %}
						<li class="divider-vertical"></li>
						<li class="dropdown auth_dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">
								{{ user.first_name }} {{ user.last_name }} <strong class="caret"></strong>
							</a>
							<ul class="dropdown-menu" style="padding-bottom: 5px;">
								<li><a href="/cg/manage/cred">Manage Credentials</a></li>
								<li class="divider"></li>
								<li><a href="/cg/manage/group">Manage Groups</a></li>
								<li class="divider"></li>
								<li><a href="/cg/manage/updateaccount">Update Account</a></li>
								<li class="divider"></li>
								<li><a href="#" id="x" data-toggle="modal" data-target="#basicModalxxx">Change Role</a></li>
								<li class="divider"></li>
								<li><a href="{% url 'django.contrib.auth.views.logout' %}?next=/">Sign out</a></li>
							</ul></li>
					</ul>
					{% else %}
					<form class="navbar-form navbar-right" method="post" action="{% url 'django.contrib.auth.views.login' %}">
						{% csrf_token %}
						<div class="form-group">
							<input type="text" placeholder="Username" name="username" class="form-control">
						</div>
						<div class="form-group">
							<input type="password" placeholder="Password" name="password" class="form-control">
						</div>
						<button type="submit" class="btn btn-success">Sign in</button>
						<div class="form-group" align="right">
							<a href="{% url "password_reset_recover" %}"> Forgot password</a>
						</div>
						<input type="hidden" name="next" value="/cg" />
					</form>
					{% endif %}
				</div>
				<!--/.nav-collapse -->
				<!--
				<div style="text-align:right">
				{% if user.is_authenticated %}
					Current role: {{role}}
				{% endif %}
				</div>
				 -->
			</div>
		</div>
		 
		{% block container-content %}{% endblock %}
		
		<div class="container">
			<hr />
			<footer>
				<p>
				<h5>
					&copy; 2015 Citizen Cyberlab. CitizenGrid is part of the
					<a href="http://citizencyberlab.eu" target="_blank">Cyberlab</a>
					project.
				</h5>
				</p>
			</footer>
		</div>
	</div> <!-- .wrapper  -->
	<!-- Modal -->
	<div id="dialog" title="Change role" style="display:none;">
	  <p>
	    <form method="post" action="/cg">
	      <button type="submit" name="app_user" class="btn btn-primary">Application User</button>
	      <button type="submit" name="app_provider" class="btn btn-info pull-right">Application Provider</button>

	      <input type="hidden" name="cancelWelcome" id="cancelWelcome" value="true" />
	      {% csrf_token %}
        </form>
      </p>
	</div>

	<!--another model-->
	<div class="modal fade" id="basicModalxxx" tabindex="-1" role="dialog" aria-labelledby="Change role" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Change Role</h4>
	      </div>
	      <div class="modal-body">
			    <form method="post" action="/cg">
			      <button type="submit" name="app_user" class="btn btn-primary">Application User</button>
			      <button type="submit" name="app_provider" class="btn btn-info pull-right">Application Provider</button>

			      <input type="hidden" name="cancelWelcome" id="cancelWelcome" value="true" />
			      {% csrf_token %}
		        </form>
		      </p>
			</div>
	      </div>
	    </div>
	  </div>
	</div>

<script type="text/javascript">
! function () {
    $(document).ready(function () {
        var build_div = function () {
            $('body').append('<div class="alert alert-info" role="alert" id="alert-modal" style="display:none"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><div class="alert-body"></div></div>');

        };
    // override default alert action
        window.alert = function (m) {
            build_div();
            
            $($('#alert-modal .alert-body').get(0)).html(m);
 
            $('#alert-modal').css({
                position: 'fixed',
                bottom: 0,
                width: $(window).width(),
                'padding-left': '20%',
                opacity: 1,
                'z-index': 99999
            
            });

            $('#alert-modal').slideDown(500, function () {
                setTimeout(function () {
                    $('#alert-modal').fadeOut(1000,function(){
                       // finally, remove the div
                        $('#alert-modal').remove();
                    });

                }, 3000);
            });

        };
    });
}();
</script>


  </body>

</html>
