{% load cg_template_filters %} 
{% block panel-content %}

<div class="modal-dialog">
	<div class="modal-content">
         <div class=" alert-info modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">{{ app.name }}</h4>
         </div>
         <div id="myModalBody" class="modal-body">     
         	<div class="panel panel-primary">
				<div class="panel-body">
					<!--  
					<div>
						<div class="appinfo">
							<img class="app-icon" src={{app.iconfile }}>{{ app.description }}
						</div>
					</div>
					-->
					<div class="appinfo">
						<h4>Usage</h4>	
						<div class="content">
				          You first ran this application on {{ my_stats.creation_time }}
				          <p>You have run this application {{ my_stats.run_count }} times</p>
				      	</div>
      					<hr>			
						<div class="appinfo">
                             <h4>Current Status</h4>
								<table class="table table-condensed">
									<thead>
											<th>Instance ID</th>
											<th>Address</th>
											<th>Status</th>
									</thead>
									<tbody>
									{% for instance in instance_list %} 
									<tr>
										<td>{{ instance.id }}</td>
										<td>{{ instance.ip }}</td>
										<td>{{ instance.state }}</td>
									</tr>
									{% endfor %}
										
									</tbody>
								</table>
							</div>
							<hr class="appdivider">
							<div class="appreginfo">Application registered by {{ app.owner.username }} at 
									{{ app.creation_time|date:'H:i' }} on 
									{{ app.creation_time|date:'d/m/Y' }}.</div>
							</div>
					</div>   
         		</div>
		         <div class="modal-footer">
		            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		         </div>
      		</div><!-- /.modal-content -->
		</div><!-- /.modal -->
{% endblock %}




