{% extends "base.html" %}

{% block container-content %}
<style>
.contactblock{
 width:1100px;
 height:300px;
 
 -moz-border-radius:6px;
 -webkit-border-radius:6px;
}
</style>
<div class="cg-header" style="padding: 5px 5px;">
    <div class="container">
        <h3>
            <img id="logo" src="/img/logo_trans.png"></img> <span>CitizenGrid</span>
        </h3>
    </div>
</div>

<div class="container" style="padding-top: 25px;">
  <h2>Contact Us</h2>
	<div class="content">
		<p>
			Hit a dead end? We're here to help:
		</p>
	<div class="contactblock">
		<h3>Help!</h3>
		<div class="content">
		<p>
			Step by step guides, troubleshooting and FAQ can all be found in our User Documentation
		</p>
		<h3>Website Feedback</h3>
		<div class="content">
		<p>
			Broken links? Error Messages? Missing files? Send us about it.
		</p>
        </div>
        </div>
    </div>
    </div>
 </div>

{% endblock %}

