{#<!--#}
{#{% extends "base.html" %}#}
{##}
{#{% load jquery_upload_display_tags %}#}
{#{% load cg_template_filters %}#}
{#{% load cg_select_template %}#}
{##}
{#{% block head %}#}
{##}
{#<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->#}
{#<link rel="stylesheet" href="/css/jquery.fileupload-ui.css">#}
{#<link rel="stylesheet" href="/css/bootstrapValidator.min.css">#}
{##}
{#<!-- CSS adjustments for browsers with JavaScript disabled -->#}
{#<noscript><link rel="stylesheet" href="/css/jquery.fileupload-ui-noscript.css"></noscript>#}
{##}
{#<script src="/js/jquery-1.11.1.min.js"></script>#}
{#<script src="/js/app-provider.js"></script>#}
{#<script type="text/javascript">#}
{#function welcomeCheckboxClick() {#}
{#	var welcomeBox = $("#welcomeCheckbox")[0];#}
{#	var hiddenWelcome = $("#cancelWelcome")[0];#}
{#	if(welcomeBox.checked == true) {#}
{#    	hiddenWelcome.value = true;#}
{#    }#}
{#    else {#}
{#    	hiddenWelcome.value = false;#}
{#    }#}
{#}#}
{#</script>#}
{#{% endblock %}#}
{##}
{#{% block container-content %}#}
{##}
{#<div class="cg-header" style="padding: 5px 5px;">#}
{#	<div class="container">#}
{#		<h3>#}
{#			<img id="logo" src="/img/logo_trans.png"></img> <span>CitizenGrid</span>#}
{#		</h3>#}
{#	</div>#}
{#</div>#}
{#<div class="row">#}
{#    <div class="col-lg-2"></div>#}
{#    <div class="well col-lg-8">#}
{#    <div><h5>Upload an image</h5></div>#}
{#    <form id="fileupload" class="form-horizontal" role="form">#}
{#      <!-- Redirect browsers with JavaScript disabled to the origin page -->#}
{#      <noscript><input type="hidden" name="redirect" value="/cg"></noscript>#}
{#      <div class="form-group">#}
{#		  <div>#}
{#		    <div id="fileuploadblock" class="row fileupload-buttonbar" style="margin-left: 15px; margin-right: 15px;">#}
{#	            <div class="col-lg-12">#}
{#	                <!-- The fileinput-button span is used to style the file input field as button -->#}
{#	                <span class="btn btn-success fileinput-button">#}
{#	                    <i class="glyphicon glyphicon-plus"></i>#}
{#	                    <span>Add files...</span>#}
{#	                    <input type="file" name="files[]" multiple>#}
{#	                </span>#}
{#	                <button type="submit" class="btn btn-primary start">#}
{#	                    <i class="glyphicon glyphicon-upload"></i>#}
{#	                    <span>Start upload</span>#}
{#	                </button>#}
{#	                <button type="reset" class="btn btn-warning cancel">#}
{#	                    <i class="glyphicon glyphicon-ban-circle"></i>#}
{#	                    <span>Cancel upload</span>#}
{#	                </button>#}
{#	                <!--#}
{#	                <button type="button" class="btn btn-danger delete">#}
{#	                    <i class="glyphicon glyphicon-trash"></i>#}
{#	                    <span>Delete</span>#}
{#	                </button>#}
{#	                <input type="checkbox" class="toggle">#}
{#	                 -->#}
{#	                <!-- The loading indicator is shown during file processing -->#}
{#	                <span class="fileupload-loading"></span>#}
{#	            </div>#}
{#	            <!-- The global progress information -->#}
{#	            <div class="col-lg-5 fileupload-progress fade">#}
{#	                <!-- The global progress bar -->#}
{#	                <!--#}
{#	                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">#}
{#	                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>#}
{#	                </div>#}
{#	                 -->#}
{#	                <!-- The extended global progress information -->#}
{#	                <!--#}
{#	                <div class="progress-extended">&nbsp;</div>#}
{#	                 -->#}
{#	            </div>#}
{#	        </div>#}
{#	        <!-- The table listing the files available for upload/download -->#}
{#	        <table id="fileuploadtable" role="presentation" class="table table-striped"><tbody class="files"></tbody></table>#}
{#        </div>#}
{#   	  {% csrf_token %}#}
{#   	  </div>#}
{#    </form>#}
{#    </div>#}
{#	#}